<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="PMPUsername" value="test@example.com"/>
    <add key="PMPPassword" value="*********"/>
    <add key="PMPBaseUri" value="https://mutualauth.pmpgateway.net"/>-->   <!--Production: https://pmpgateway.net         mutualauth.pmpgateway.net-->  
    <!--<add key="PMPAPIVersion" value="v5"/>
    <add key="PMPCertificatePath" value="C:\temp\apprissacmecertificate.pfx"/>
    <add key="PMPCertificatePassword" value="********"/>-->

    <add key="PMPUsername" value="exampleuser"/>
    <add key="PMPPassword" value="**********"/>
    <add key="PMPBaseUri" value="https://gateway-ssl-prep.pmp.appriss.com"/>
    <!--Production: https://pmpgateway.net-->
    <add key="PMPAPIVersion" value="v5"/>
    <add key="PMPCertificatePath" value="C:\temp\pmpgatewaycrtwithprivate.pfx"/>
    <add key="PMPCertificatePassword" value="********"/>
  </appSettings>
</configuration>

